@use "../variables" as *;

.card-kanji{
    background-color: $light;
    max-width: 320px;
    width: 100%;
    border-radius: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 2px solid rgba(151, 173, 177, 0.5);

    .row-1, .row-2, .row-3, .row-4{
        display: flex;
        border-top: 1px solid rgba(0, 0, 0, 0.10);
    }

    .row-1{
        border: none;
        position: relative;
        padding: 1.5rem 0 2.5rem 0;

        div:first-of-type{
            font-size: 100px;
            font-weight: 600;
            width: 100%;
            text-align: center;
        }
        div:last-of-type{
            position: absolute;
            right: 0;
            top: 0rem;

            p{
                padding: 6px;
                font-size: 18px;
                margin-bottom: 4px;
            }

            p:first-of-type{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                aspect-ratio: 1/1;
                border: 1px solid rgba(0, 0, 0, 0.10);
                border-radius: 50%;
            }
        }
    }

    .row-2, .row-4{
        justify-content: space-evenly;

        div{
            width: 100%;
            margin: 1rem 0;
            padding: 0.5rem 1rem 0.5rem 1rem;
        
            p:first-of-type{
                margin-bottom: 0.5rem;
                opacity: 0.8;
            }
        }

        div:first-of-type{
            border-right: 1px solid rgba(0, 0, 0, 0.10);
        }
    }

    .row-2{
        div:first-of-type{
            p:last-of-type{
                font-size: 18px;
                color: rgb(14, 125, 177);
            }
        }

        div:last-of-type{
            p:last-of-type{
                font-size: 18px;
                font-weight: 00 ;
                color: rgb(26, 133, 12);
            }
        }
    }

    .row-4{
        div{
            p:first-of-type{
                margin: 0;
            }
        }

        div:last-of-type{
            border-left: 1px solid rgba(0, 0, 0, 0.10);
        }
    }

    .row-3{
        p{
            width: 100%;
            margin: 2rem 1rem;
            text-align: left;        
            opacity: 0.8;

            span{
                opacity: 1;
                margin-left: 0.5rem;
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
}