@use "../variables" as *;

.highlight{
    position: fixed;
    left: 0;
    top: 0;
    background-color: $light;
    height: 100vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    &-kanji{
        width: 100%;
    }
}