@use "utils/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: content-box !important;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  line-height: 1;
}

body{
  color: $dark;
  background-color: $soft-light;
}

ul, ol, li{
  list-style: none;
}

h1, h2, h3, h4, h5{
  font-weight: bold;
}

h1{
  font-size: 34px;
}

h2{
  font-size: 28px;
}

h3{
  font-size: 22px;
}

h4{
  font-size: 16px;
}

h5{
  font-size: 14px;
}

p, span {
  font-size: 16px;
}

button, a{
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  border: none;
}

.shadow{
  box-shadow: 2px 2px 6px 3px rgb(0, 0, 0, 0.1);
}